D:\UE4 Projects\MagicExploration\Intermediate\*.data
D:\UE4 Projects\MagicExploration\Saved\*.data
D:\Unreal\Projects\MagicExploration2\MagicExploration\Intermediate\*.data
D:\Unreal\Projects\MagicExploration2\MagicExploration\Saved\*.data
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-89ED42AA47CAB67D949F5093A0FA0969/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/MagicExploration-backup-2019.02.17-09.58.51.log
Saved/Logs/MagicExploration.log
*.log
